@import "variables";

.contact-form {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.contact-form .formbody .widget-text,
.contact-form .formbody .widget-textarea {
  margin: 0px 0;
  line-height: 1em;
  label {
    margin-left: 6px;
    font-size: 17px;
    span {
      color: $darkblue;
    }
  }
}

.contact-form .formbody .widget-checkbox fieldset {
  border: none;
  span {
    margin-left: -15px;
    label a {
      color: $darkblue;
      transition: color 250ms;
      &:hover {
        color: $blue;
      }
    }
  }
}

.contact-form .formbody .explanation {
  font-style: italic;
  font-size: 15px;
  line-height: 0.7em;
  margin-top: 0;
}

.contact-form .formbody .widget-checkbox {
  font-size: 15px;
}

.contact-form .formbody input[name="name"],
.contact-form .formbody textarea[name="nachricht"],
.contact-form .formbody input[name="e-mail"],
.contact-form .formbody input[name="telefon"],
.contact-form .formbody input[name="firma"]{
  background-color: $blue;
  border: 0;
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
  outline: none;
  font-family: "Merriweather",sans-serif;
  letter-spacing: .5px;
  border-radius: 20px;
  display: block;
  transition: background-color 250ms;
  &:hover {
    background:$darkblue;
  }
}

textarea {
  resize: none;
}

#container ::placeholder {
  opacity: 1;
  color: white;
}
.contact-form .submit {
  border: 2px solid #5DA4DF;
  border-radius: 25px;
  padding: 8px 15px;
  color: #5DA4DF;
  font: normal normal normal 20px/34px Merriweather Sans;
  transition: background-color 250ms, color 250ms;
  text-transform: uppercase;
  background-color: white;
  &:hover {
    background-color: $darkblue;
    color: white;
  }
}

@media screen and (max-width: 540px){
  .contact-form .formbody .explanation {
    line-height: 1.7em;
  }
}