@import "variables";

body {
  font-family: 'Merriweather Sans', serif;
}

ul {
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

p, ul {
  font: normal normal normal 20px/27px Merriweather Sans;
}

h2 {
  font: normal normal bold 40px/50px Merriweather Sans;
  text-transform: uppercase;
}

.benefit-teaser, .benefit-box,
.news, .contact-partner,
.privacy, .menu-nav,
.mod_newsreader {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
}

html.mobile_menu_active {
  overflow-y: hidden;
}

@media screen and (max-width: 540px) {
  h2 {
    font: normal normal bold 24px/32px Merriweather Sans;
  }
}
