@import "variables";

body {
  font-family: 'Merriweather Sans', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

ul {
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

/* p, ul {
  font: normal normal normal 20px/27px Merriweather Sans;
} */

h2 {
  font: normal normal bold 40px/50px Merriweather Sans;
  text-transform: uppercase;
}

/*.benefit-teaser, .benefit-box,*/.benefit-contain,
.news, .contact-partner,
.privacy, .menu-nav,
.mod_newsreader, .contact-form {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
}

html.mobile_menu_active {
  overflow-y: hidden;
}

#container .error-image img {
  width: 100%;
  height: 100vh;
}

#container .error-teaser {
  position: absolute;
  top: 40%;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: 0 auto;
  max-width: 1130px;
  p {
    color: #4c99d9;
    font: normal normal 600 40px/53px Merriweather Sans;
    text-transform: uppercase;
    a {
      display: inline-block;
      font: normal normal 600 24px/36px Merriweather Sans;
      color: white;
      padding: 15px 40px;
      border-radius: 30px;
      text-transform: uppercase;
      overflow: hidden;
      background: #2B7FC6;
      transition: color 250ms;
      &:hover {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    font: normal normal bold 30px/40px Merriweather Sans;
  }
}

@media screen and (max-width: 540px) {
  h2 {
    font: normal normal bold 24px/32px Merriweather Sans;
  }
}
