@import "variables";

#header .inside {
  background: transparent linear-gradient(222deg, #003F74 0%, #002A4E 100%);
}

.header-inside {
  position: relative;
  display: flex;
  align-items: center;
  .header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width:$max-width;
    margin: 0 auto;
   /* padding: 20px 0;*/
    .header-left {
      .logo-header {
        img {
          width: 550px;
        }
      }
    }
    .header-right {
      padding: 10px 0;
      width: 13%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer-social-icons {
        img {
          width: 40px;
        }
      }
      .mobile_menu_trigger {
        cursor: pointer;
        display: block;
        img {
          width: 70px;
          transition: transform 250ms;
          &:hover {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header-inside .header .header-left {
    width: 70%;
  }
  .header-inside .header .header-right {
    width: 22%;
  }
}

@media screen and (max-width: 540px) {
  .header-inside .header .header-left {
    width: 65%;
    padding: 10px 0;
    .logo-header img {
      width: 240px;
    }
  }
  .header-inside .header .header-right {
    width: 32%;
    .mobile_menu_trigger img {
      width: 50px;
    }
  }
}

