@import "variables";

#header .inside {
  background: transparent linear-gradient(222deg, #003F74 0%, #002A4E 100%);
}

.header-inside {
  position: relative;
  display: flex;
  align-items: center;
  .header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width:$max-width;
    margin: 0 auto;
    padding: 20px 0;
    .header-left {
      .logo-header {
        img {
          width: 540px;
        }
      }
    }
    .header-right {
      .mobile_menu_trigger {
        cursor: pointer;
        /*margin-top: 20px;*/
        display: block;
        img {
          width: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header-inside .header .header-left .logo-header img {
    width: 230px;
  }
  .header-inside .header .header-right .mobile_menu_trigger img {
    width: 50px;
  }
}

