@import "variables";
.banner-image {
  position: relative;
}

.header-image {
  img {
    width: 100%;
  }
}

.teaser-text {
  position: absolute;
  font-size: 30px;
  bottom: 13vw;
  right: 45vw;
  color: #003F74;
  h1 {
    font: normal normal 600 60px/27px Merriweather Sans;
    text-transform: uppercase;
  }
  p {
    font: normal normal normal 30px/40px Merriweather Sans;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: $max-width;
  margin: 68px auto;
}

.block-box {
  width: 30%;
  text-align: center;
  color: $darkblue;
  h3 {
    font: normal normal bold 30px/40px Merriweather Sans;
  }
}

.benefit {
  background: url("/files/assets/layout/bg_blue.svg") center top 0/cover no-repeat;
  height: 950px;
  position: relative;
  z-index: 4;
}

.benefit-teaser, .benefit-box,
.news, .contact-partner {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
}

.benefit-teaser {
  margin: 105px auto;
  h2 {
    text-align: center;
    color: $darkblue;
  }
  p {
    color: $darkblue;
    max-width: 766px;
    margin: 0 auto;
    text-align: center;
  }
}

.benefit-box {
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
  .ce_image.image-text.block {
    width: 18%;
    .caption {
      font: normal normal bold 22px/34px Merriweather Sans;
      text-transform: uppercase;
      color: $darkblue;
      text-align: center;
    }
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  a {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    font: normal normal normal 22px/34px Merriweather Sans;
    transition: background-color 250ms, color 250ms;
    &:hover {
      color: $blue;
      background-color: white;
    }
  }
}

.bg-white {
  background: url("/files/assets/layout/Pfad weiss.svg") center top 0/cover no-repeat;
  position: relative;
  z-index: 5;
  margin-top: -120px;
  height: auto;
}

.news {
  margin: 129px auto 0;
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
  .deadline {
    width: 45%;
    h2 {
      color: $darkblue;
    }
  }
}

.mod_newslist, .mod_eventlist {
  margin-top: 15px;
  .info, .time{
    line-height: 0.1em;
    color: $blue;
    font-weight: bolder;
  }
  .ce_text {
    margin-top: -20px;
    color: $darkblue;
    ul {
      li {
        position: relative;
        margin-left: -17px;
        &:before {
          content: "";
          position: absolute;
          width: 9px;
          height: 9px;
          left: -22px;
          margin-top: 10px;
          background: url("/files/assets/layout/dot.svg") no-repeat 0/cover;
        }
      }
    }
  }
  .more {
    text-transform: uppercase;
    a {
      border: 2px solid $blue;
      border-radius: 25px;
      padding: 10px 15px;
      color: $blue;
      font: normal normal normal 22px/34px Merriweather Sans;
      transition: background-color 250ms, color 250ms;
      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }
}

.bg-darkblue{
  background: url("/files/assets/layout/bg_darkblue.svg") center top 0/cover no-repeat;
  height:auto;
  position: relative;
  z-index: 5;
}

.contact-partner {
  display: flex;
  justify-content: space-between;
  margin: 130px auto;
  padding: 50px 0 ;
  .ce_text, .ce_image {
    width: 45%;
  }
  .ce_text {
    color: white;
    p {
      a {
        text-transform: uppercase;
        border: 2px solid white;
        border-radius: 25px;
        padding: 10px 25px;
        color: white;
        font: normal normal normal 22px/34px Merriweather Sans;
        transition: background-color 250ms, color 250ms;
        &:hover {
          color: $blue;
          background-color: white;
        }
      }
    }
  }
  .ce_image {
    margin-top: 30px;
  }
}

.reference {
  background: url("/files/assets/layout/bg-white-top.svg") center top 0/cover no-repeat;
  height:auto;
  position: relative;
  z-index: 7;
  margin-top: -100px;
  .ce_sliderStart {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
    h2 {
      text-align: center;
      color: $darkblue;
    }
    .content-slider {
      margin: 65px auto 0     ;
      max-width: 800px;
      .layout_short {
        .image_container {
          text-align: center;
        }
      }
    }
    .slider-control {
      .slider-menu {
        display: none;
      }
    }
  }
}