@import "variables";

#main .inside {
  overflow-x: hidden;
}

.banner-image {
  position: relative;
}

.header-image {
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center center;
  }
}

.teaser-text {
  position: absolute;
  width: 90%;
  max-width: 1100px;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 11px #000000D9;
/*  &.white {
    color: white;
  }
  &.white-text {
    color: white;
  }*/
  h1, h2 {
    font: normal normal 600 60px/27px Merriweather Sans;
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1em;
  }
  p {
    font: normal normal normal 30px/40px Merriweather Sans;
    margin-top: 0;
  }
}

#teaser-bottom {
  top: 70%;
  text-shadow: 2px 2px 11px #000000D9;
}

.content, .content-benefit {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  flex-wrap: wrap;
}

.mod_article .ce_image {
  text-align: center;
}

.mod_article.boxes {
  overflow: visible;
}

.block-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 19.5%;
  padding: 15px;
  text-align: center;
  color: $darkblue;
  border: 2px solid #003F74;
  box-sizing: border-box;
  img {
    height: 50px;
  }
  h3 {
    font: normal normal bold 30px/40px Merriweather Sans;
    margin: 15px 0 5px;
    font-size: 15px;
    line-height: 1.5em;
  }
  p {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1.5em;
  }
  .block-link-icon {
    margin-top: auto;
    position: relative;
    height: 50px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 250ms;
      background: url('../layout/arrow-right-dark-on-light-blue.svg') no-repeat center center/contain;
      pointer-events: none;
    }
    a {
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    &:hover:after {
      opacity: 1;
    }
  }
}

.mod_article:not(.banner-image) .ce_text.fazit {
  margin-top: -50px;
  p {
    padding-left: 20px;
    border-left: 50px solid #5da4df;
    font-weight: bold;
  }
}

.mod_article:not(.banner-image) .ce_text.kurzinfo {
  text-align: center;
  margin-bottom: -40px;
  color: #5DA4DF;
  margin-top: 0;
  font-weight: bold;
  background: url('../layout/quotes.svg') no-repeat 30% 0/80px;
}

.benefit {
  background: url("/files/assets/layout/bg_blue.svg") center top 0/cover no-repeat;
  height: auto;
  position: relative;
  z-index: 4;
}

.mod_article:not(.banner-image) .ce_text {
  width: 80%;
  max-width: 950px;
  margin: 60px auto;
  color: $darkblue;
}

.mod_article:not(.banner-image).beratungsfeld {
  width: 100%;
  max-width: initial;
  margin: 100px 0;
  .ce_text {
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: 100;
    &:first-child {
      border-bottom: 1px solid;
    }
    h2 {
      margin-top: 0;
    }
  }
  &:nth-child(3) {
    position: relative;
    padding: 160px 0;
    z-index: 100;
    overflow: visible;
    &:after {
      position: absolute;
      top: 0;
      left: -10%;
      width: 200%;
      height: 85%;
      content: '';
      background-image: linear-gradient(to right, #88bae3, #88bae3);
      transform: rotate(-3deg);
      z-index: 50;
    }
    .ce_text {
      figure img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &:nth-child(5) {
    position: relative;
    padding: 160px 0;
    z-index: 100;
    overflow: visible;
    &:after {
      position: absolute;
      top: 0;
      right: -10%;
      width: 200%;
      height: 85%;
      content: '';
      background-image: linear-gradient(to right, #003F74, #2E6C9F);
      transform: rotate(3deg);
      z-index: 50;
    }
    .ce_text {
      color: white;
    }
  }
  &:nth-child(7) {
    position: relative;
    margin-bottom: -5vw;
    padding: 160px 0;
    z-index: 0;
    &:after {
      position: absolute;
      top: 2%;
      left: -10%;
      width: 200%;
      height: 90%;
      content: '';
      background-image: linear-gradient(to right, #88bae3, #88bae3);
      transform: rotate(-3deg);
      z-index: -1;
    }
    .ce_text {
      color: white;
      figure img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.mod_article .ce_headline {
  width: 75%;
  max-width: 800px;
  margin: 100px auto 60px;
  padding-bottom: 20px;
  text-align: center;
  color: #003f74;
  border-bottom: 1px solid;

}

.mod_article.bg-darkblue .ce_text {
  p,h2 {
    color: white;
  }
}

.benefit-contain {
  margin: 100px auto;
  padding: 50px 0;
  .ce_text {
    h2 {
      text-align: center;
      color: $darkblue;
    }
    p {
      color: $darkblue;
      max-width: 766px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .benefit-box {
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .ce_image.image-text.block {
      position: relative;
      width: 14%;
      background: #003f74;
      padding: 20px;
      box-sizing: border-box;
      .caption {
        font: normal normal bold 22px/34px Merriweather Sans;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 12px;
        line-height: 1.3em;
        font-weight: normal;
        margin: 15px 0 0;
      }
      figure {
        img {
          height: 70px;
          filter: brightness(0) invert(1);
          transition: transform 250ms;
        }
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        color: #002A4E;
        opacity: 0;
        transition: opacity 250ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
      }
      &:nth-child(1):after {
        content: 'Maßgeschneiderte Förderung';
      }
      &:nth-child(2):after {
        content: 'Passende Partner für den Erfolg';
      }
      &:nth-child(3):after {
        content: '93% Erfolgsquote';
      }
      &:nth-child(4):after {
        content: '80 -90% weniger Aufwand';
      }
      &:nth-child(5):after {
        content: '30% kürzere Bearbeitungszeiten';
      }
      &:nth-child(6):after {
        content: 'lücken- und fehlerlose Projekt-dokumentation';
      }
      &:nth-child(7):after {
        content: 'Geringes Kostenrisiko ';
      }
      &:hover {
        figure img {
          transform: translateY(10%);
          transition: transform .5s;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  a {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    display: inline-block;
    font: normal normal normal 22px/34px Merriweather Sans;
    transition: background-color 250ms, color 250ms;
    &:hover {
      color: $blue;
      background-color: white;
    }
  }
}

.mod_article:not(.banner-image) .ce_text.btn.project {
  margin: 150px auto 0;
  transform: translateY(-60px);
  a {
    border: 2px solid $blue;
    color: $blue;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.bg-white {
  background: url("/files/assets/layout/Pfad weiss.svg") center top 0/cover no-repeat;
  position: relative;
  z-index: 5;
  margin-top: -120px;
  height: auto;
}

.news {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  .deadline {
    width: 45%;
    h2 {
      color: $darkblue;
    }
  }
}

.mod_article:not(.banner-image) .mod_newslist, .mod_eventlist,
.project .layout_short {
  margin-top: 15px;
  .info, .time{
    line-height: 0.1em;
    color: $blue;
    font-weight: bolder;
  }
  .ce_text {
    margin-top: -20px;
    color: $darkblue;
    margin-bottom: 20px;
    ul {
      li {
        position: relative;
        margin-left: -17px;
        &:before {
          content: "";
          position: absolute;
          width: 9px;
          height: 9px;
          left: -22px;
          margin-top: 10px;
          background: url("/files/assets/layout/dot.svg") no-repeat 0/cover;
          display: none;
        }
      }
    }
  }
  .more {
    text-transform: uppercase;
    a {
      border: 2px solid $blue;
      border-radius: 25px;
      padding: 10px 15px;
      color: $blue;
      font: normal normal normal 22px/34px Merriweather Sans;
      transition: background-color 250ms, color 250ms;
      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }
}

.mod_newslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .layout_short {
    width: 45%;
  }
}

.bg-darkblue{
  background: url("/files/assets/layout/bg_darkblue.svg") center top 0/cover no-repeat;
  height:auto;
  position: relative;
  z-index: 5;
}

.contact-partner {
  display: flex;
  justify-content: space-between;
  margin: 130px auto;
  padding: 50px 0 ;
  .ce_text, .ce_image {
    width: 45%;
  }
  .ce_text {
    color: white;
    p {
      a {
        text-transform: uppercase;
        border: 2px solid white;
        border-radius: 25px;
        padding: 10px 25px;
        color: white;
        font: normal normal normal 22px/34px Merriweather Sans;
        transition: background-color 250ms, color 250ms;
        &:hover {
          color: $blue;
          background-color: white;
        }
      }
    }
  }
  .ce_image {
    margin-top: 30px;
  }
}

.content-benefit {
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.image-left{
  width: 25%;
  text-align: center;
  img {
    width: 200px;
  }
}
.text-right {
  width: 65%;
  color: $darkblue;
}

.benefit.new {
  height: auto;
}

.promotion {
  width: 90%;
  max-width: $max-width;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  padding: 30px 0 80px;
  .text-left {
    width: 65%;
    color: $darkblue;
  }
  .image-right {
    width: 25%;
    text-align: center;
    img {
      width: 200px;
    }
  }
  .text-left.white {
    color: white;
  }
}

.privacy {
  h4 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 25px;
    &:before {
      position: absolute;
      content: "";
      left: -18px;
      width: 30px;
      height: 30px;
      top: 9px;
      background: url("/files/assets/layout/dot.svg") no-repeat;
      background-size: 13px;
    }
  }
  img {
    filter: brightness(0) invert(58%) sepia(76%) saturate(297%) hue-rotate(173deg);
    width: 55px;
  }
}

.privacy, .mod_newsreader {
  margin: 40px auto;
  h2 {
    color: $darkblue;
    text-align: center;
  }
  p {
    color: $darkblue;
    strong {
      text-transform: uppercase;
    }
    a {
      color: $blue;
      transition: opacity 250ms;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .info {
    color: $blue;
  }
}

.privacy h2 {
  width: 75%;
  max-width: 800px;
  margin: 20px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

/*.mod_newsreader .layout_full p strong {
  text-transform: lowercase;
}*/

#contact {
  margin: 0 auto;
  p {
    text-align: center;
  }
}

.privacy, .mod_newsreader {
  p.back {
    a {
      position: relative;
      margin-left: 35px;
      &:before {
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        left: -45px;
        background: url("/files/assets/layout/Arrow_left_blue1.svg") no-repeat 0/cover;
        top: -9px;
      }
    }
  }
}

#progress {
  position: fixed;
  bottom: 75px;
  right: 130px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 105;
}

#progress-value {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  img {
    width: 25px;
    transition: filter  250ms;
    &:hover {
      filter: $filter;
    }
  }
}

.mod_article:not(.banner-image) .ce_text.apply-now-button {
  width: 200px;
  text-align: center;
  border: 2px solid #6aabe1;
  border-radius: 30px;
}

.mod_article:not(.banner-image) .ce_text.apply-now-button p {
  margin: 0;
}

.mod_article:not(.banner-image) .ce_text.apply-now-button p a {
  padding: 20px;
  display: block;
  transition: background-color 250ms;
  &:hover {
    background: #6aabe130;
  }
}

.mod_article:not(.banner-image) .ce_text ul li {
  list-style: disc;
}

.ce_accordion .ce_text.btn.project {
  margin-bottom: 0;
}

.mod_article:not(.banner-image) .ce_accordion .ce_text {
  margin-top: 0;
}

.inside .bg-white .news .mod_newslist .layout_short {
  .ce_text {
    width: 100%;
    height: 400px;
  }
}

.project, .all-news {
  width: 80%;
  max-width: 950px;
  margin: 60px auto;
  .layout_short {
    margin: 0 auto 35px;
    img {
      width: 300px;
    }
    .ce_text {
      width: 100%;
      margin: 0 auto;
      p a {
        color: $blue;
        transition: opacity 250ms;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #003f74;
      padding-bottom: 25px;
  }
  }
}
.all-news .mod_newslist {
  display: block;
  .layout_short {
    width: 100%;
  }
}



@media screen and (max-width: 1000px) {
  .benefit-contain {
    .benefit-box {
      margin: 35px auto;
      .ce_image.image-text.block {
        width: 47%;
        margin: 10px auto;
        height: 280px;
        .image_container {
          text-align: center;
          img {
            height: 100px;
          }
          .caption {
            margin: 15px auto 0;
            font: normal normal bold 17px/24px Merriweather Sans;
          }
        }
        &:after {
          position: relative;
          background: transparent;
          color: white;
          opacity: 1;
          height: 50px;
          line-height: 1.5em;
        }
      }
    }
  }

  .news {
    .deadline {
      width: 40%;
    }
  }

  .promotion {
    margin: 50px auto;
    .text-left, .text-right {
      width: 55%;
    }
    .image-right, .image-left {
      width: 35%;
    }
  }

  .block-box {
    width: 48%;
    margin: 5px auto;
  }

}

@media screen and (max-width: 540px) {
  .header-image {
    img {
      height: 45vh;
      object-position: center 0;
    }
  }
  .teaser-text {
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    text-align: center;
    top: 35%;
    h1 {
      font: normal normal 600 22px/24px Merriweather Sans;
    }
    p {
      font: normal normal normal 19px/22px Merriweather Sans;
    }
  }

  .content {
    margin: 45px auto;
  }
  .block-box {
    width: 100%;
    margin: 30px auto;
    display: block;
  }

  .benefit-contain {
    .benefit-box {
      margin: 35px auto;
      .ce_image.image-text.block {
        width: 100%;
        margin: 15px auto;
        .image_container {
          text-align: center;
          .caption {
            margin: 25px auto 0;
          }
        }
      }
    }
  }

  .news {
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 70px 0;
    .deadline {
      width: 100%;
    }
  }

  .contact-partner {
    margin: 20px auto 50px;
    flex-wrap: wrap;
    .ce_text, .ce_image {
      width: 100%;
    }
    .ce_text {
      .button {
        text-align: center;
      }
    }
  }

  #progress {
    /*display: none;*/
    right: 10px;
    height: 60px;
    width: 60px;
  }

  .image-left, .text-right {
    width: 100%;
  }

  .promotion {
    margin: 50px auto;
    flex-wrap: wrap;
    padding: 30px 0;
    .text-left, .image-right {
      width: 100%;
    }
  }
  .mod_newslist .layout_short {
    width: 100%;
  }

  .contact-partner .ce_text p a,
  .mod_article:not(.banner-image) .mod_newslist .more a, .mod_eventlist .more a{
    font: normal normal normal 17px/25px Merriweather Sans;
    display: inline-block;
  }

  .mod_article .ce_headline {
    margin: 50px auto 15px;
  }

  .benefit-contain {
    margin: 60px auto;
  }

  .mod_article:not(.banner-image) .mod_newslist .ce_text, .mod_eventlist .ce_text {
    margin-top: 20px;
  }
  .mod_article:not(.banner-image) .ce_text.btn.project {
    margin: 0 auto 0;
    transform: translateY(-15px);
    padding: 35px 0;
  }
  .mod_article:not(.banner-image).beratungsfeld:nth-child(3),
  .mod_article:not(.banner-image).beratungsfeld:nth-child(5),
  .mod_article:not(.banner-image).beratungsfeld:nth-child(7){
    padding: 80px 0 175px;
  }
  .mod_article:not(.banner-image).beratungsfeld {
    margin: 0 auto 20px;
  }
  #Innovationsförderung, #Investitionsförderung,
  #Netzwerkentwicklung, #Projektmanagement,
  #Innovationsstrategien {
    .ce_text {
      img {
        width: 65px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  #teaser-bottom {
    top: 45%;
  }
  .mod_article:not(.banner-image) .ce_text {
    width: 100%;
  }
  .benefit-contain .benefit-box .ce_image.image-text.block::after {
    height: 50px;
  }
  .inside .bg-white .news .mod_newslist .layout_short .ce_text {
    width: 100%;
    height: auto;
  }
}
