@import "variables";

.reference {
  background: url("/files/assets/layout/bg-white-top.svg") center top 0/cover no-repeat;
  height:auto;
  position: relative;
  z-index: 7;
  margin-top: -100px;
  .ce_sliderStart {
    position: relative;
    width: 100%;
    margin: 0 auto;
    h2 {
      text-align: center;
      color: $darkblue;
    }
    .content-slider {
      margin: 0 auto;
      max-width: 800px;
      .slider-wrapper {
        display: flex;
        align-items: center;
      }
      .layout_short {
        .image_container {
          text-align: center;
          img {
            max-width: 300px;
            max-height: 170px;
            width: 300px;
          }
        }
        .ce_text {
          color: $darkblue;
          text-align: center;
          margin: 0 auto;
          p {
            font-size: 16px;
             a{
               color: $blue;
               transition: opacity 250ms;
               &:hover {
                 opacity: 0.6;
               }
             }
          }
        }
        &:first-child {
          img {
            width: 200px;
            max-height: 300px;
          }
        }
      }
    }
    .slider-control {
      position: absolute;
      transform: translateY(-50%);
      width: 100%;
      top: 50%;
      .slider-menu {
        display: none;
      }
      .slider-prev {
        left: 5%;
      }
      .slider-next {
        right: 5%;
      }
      .slider-prev, .slider-next {
        transition: filter 250ms;
        img {
          width: 60px;
        }
        &:hover{
          filter: $filter;
        }
      }
    }
  }
}

.slider-image.ce_sliderStart {
  position: relative;
  margin: 0 auto -15px;
  .image_container {
    img {
      width: 100%;
    }
  }

  .slider-control {
    position: absolute;
    width: 100%;
    top: 50%;
    .slider-prev {
      left: 5%;
    }
    .slider-next {
      right: 5%;
    }
    .slider-prev, .slider-next {
      transition: filter 250ms;
      transform: translateY(-50%);
      img {
        width: 60px;
      }
      &:hover{
        filter: $filter;
      }
    }
    .slider-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 540px) {
  .reference .ce_sliderStart {
    .content-slider {
      width: 85%;
      margin: 0 auto 75px;
      .layout_short .ce_text {
        width: 100%;
      }
    }
    .slider-control {
      top: 94%;
      transform: translateY(0);
      .slider-prev {
        left: 25%;
      }
      .slider-next {
        right: 25%;
      }
      .slider-prev img, .slider-next img {
        width: 40px;
      }
    }
  }

  .slider-image.ce_sliderStart {
    .image_container {
      img {
        width: 100%;
        height: 75vh;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .slider-image.ce_sliderStart .slider-control .slider-prev img, .slider-image.ce_sliderStart .slider-control .slider-next img {
    width: 45px;
  }
  .reference {
    margin-top: 0;
  }
}