@import "variables";

.team-box-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .team-box {
    position: relative;
    width: 31%;
    height: auto;
    margin: 8px 0;
    color: $darkblue;
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
      object-position: 0 -40px;
    }
    h3 {
      text-align: center;
      margin-bottom: 5px;
      text-transform: uppercase;
      font: normal normal bold 22px/27px Merriweather Sans;
    }
    p {
      text-align: center;
      margin-top: 0;
      font-size: 15px;
      font: normal normal normal 20px/24px Merriweather Sans;
    }
    .team-box-backside {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 380px;
      opacity: 0;
      transition: opacity 250ms;
      color: #2E6C9F;
      z-index: 50;
      a {
        display: block;
        width: 100%;
        color: #2E6C9F;
        font-size: 18px;
      }
      h3 {
        display: block;
        width: 100%;
        font-size: 20px;
        margin: 4px 0;
      }
      p {
        display: block;
        width: 100%;
        font-size: 20px;
        margin: 0;
      }
      .team-box-email {
        font-size: 20px;
      }
    }
    .team-box-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 380px;
      content: '';
      background: #B6D1E8cc;
      z-index: 25;
      opacity: 0;
      transition: opacity 250ms;
    }
    &:hover {
      .team-box-backside,.team-box-overlay {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .team-box-container .team-box {
    width: 48%;
  }
  .team-box-container .team-box {
    .team-box-overlay {
      display: none;
    }
    .team-box-backside {
      opacity: 1;
      height: 45px;
      position: relative;
      margin: 20px auto;
    }
  }
}

@media screen and (max-width: 540px) {
  .team-box-container .team-box {
    width: 100%;
  }
}
